<app-card
  [width]="350"
  title="Вход"
  subTitle="Введите данные для входа"
  class="absolute-center">
  <form class="my-4" [formGroup]="form">
    <mat-form-field appearance="outline" class="w-100 my-2">
      <mat-label>Имя</mat-label>
      <input [formControl]="nameControl" type="text" matInput placeholder="Иван">
      <mat-hint>Введите имя</mat-hint>
      <mat-error *ngIf="nameControl.hasError('required')">
        Поле имя <strong>обязательно</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100 my-2">
      <mat-label>Фамилия</mat-label>
      <input [formControl]="surnameControl" type="text" matInput placeholder="Иванов">
      <mat-hint>Введите фамилию</mat-hint>
      <mat-error *ngIf="surnameControl.hasError('required')">
        Поле фамилия <strong>обязательно</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100 my-2">
      <mat-label>Пол</mat-label>
      <mat-select [formControl]="sexControl">
        <mat-option [value]="SexEnum.MAN">мужской</mat-option>
        <mat-option [value]="SexEnum.WOMAN">женский</mat-option>
      </mat-select>
      <mat-hint>Введите ваш пол</mat-hint>
      <mat-error *ngIf="sexControl.hasError('required')">
        Поле пол <strong>обязательно</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100 my-2">
      <mat-label>Почта</mat-label>
      <input [formControl]="emailControl" type="email" matInput placeholder="pat@example.com">
      <mat-hint>Введите почту</mat-hint>
      <mat-error *ngIf="emailControl.hasError('email') && !emailControl.hasError('required')">
        Пожалуйста ввведите валидный почтовый адрес
      </mat-error>
      <mat-error *ngIf="emailControl.hasError('required')">
        Поле почта <strong>обязательно</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100 my-2">
      <mat-label>Пароль</mat-label>
      <input [formControl]="passwordControl" type="password" matInput>
      <mat-hint>Введите пароль</mat-hint>
      <mat-error *ngIf="passwordControl.hasError('minlength')">
        Минимум 4 символа
      </mat-error>
      <mat-error *ngIf="passwordControl.hasError('maxlength')">
        Максимум 16 символов
      </mat-error>
      <mat-error *ngIf="passwordControl.hasError('required')">
        Поле пароль <strong>обязательно</strong>
      </mat-error>
    </mat-form-field>
  </form>
  <ng-container ngProjectAs="actions">
    <button (click)="form.reset()" type="reset" mat-button color="warn" class="ml-5">Отмена</button>
    <div class="app-spacer"></div>
    <button (click)="onSubmit()" type="submit" mat-button color="primary" class="mr-5">Отправить</button>
  </ng-container>
</app-card>
