<ng-container *ngrxLet="{
  isHandset: isHandset$,
  isUserLogged: isUserLogged$
} as data">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
                 [attr.role]="data.isHandset ? 'dialog' : 'navigation'"
                 [mode]="data.isHandset ? 'over' : 'side'"
                 [opened]="data.isHandset === false">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <ng-container *ngIf="data.isUserLogged; else needToLoginUser">
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="tree" routerLinkActive="active">Семейное дерево</a>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="information" routerLinkActive="active">Информация</a>
          <mat-divider></mat-divider>
          <a mat-list-item (click)="logOut()">Выход</a>
          <mat-divider></mat-divider>
        </ng-container>
        <ng-template #needToLoginUser>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="register" routerLinkActive="active">Регистрация</a>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="login" routerLinkActive="active">Вход</a>
        </ng-template>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="data.isHandset">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>Семейное дерево</span>
        <span class="app-spacer"></span>
      </mat-toolbar>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
