<mat-card>
  <mat-card-content>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
      <h2>Вход</h2>
      <mat-error *ngIf="loginInvalid">Ошибка входа, пароль или почта неверны</mat-error>
      <mat-form-field>
        <input matInput type="email" placeholder="Почта" [(ngModel)]="loginUser.email" name="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
        <mat-error>Введите валидный почтовый адрес</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Пароль" [(ngModel)]="loginUser.password" name="password" required minlength="4" maxlength="16">
        <mat-error>Введите пароль не менее 4 и не более 16 символов</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid || loading">Войти</button>
    </form>
  </mat-card-content>
</mat-card>
